// Navigation Styles here
header {
  display: flex;
  align-items: center;
  border-bottom: 2px dashed @silver;
  a {
    text-decoration: none;
    .primary-text();
  }
  h1 {
    margin: 0 20px;
  }
}
